---
export const prerender = true;
import Layout from '@/layouts/Layout.astro';
import Card from '@/components/Card.astro';
---

<Layout title="Senarios!" css_color_palette="dark_mode">
	<main>
		
		<ul role="list" class="link-card-grid">
            <Card
				href="https://github.com/WywySenarios/Wywy-Website"
				title="Upcoming Content... 🚧"
				body="This block of STUFF!!! has not been implemented yet! :( Very sad indeed."
			/>
			<Card
				href="https://github.com/WywySenarios/Wywy-Website"
				title="Upcoming Content... 🚧"
				body="This block of STUFF!!! has not been implemented yet! :( Very sad indeed."
			/>
		</ul>
	</main>
</Layout>