startup.bat

**/__pycache__/

## ignore python virtual environment & packages
.venv

## ignore VS code folder :P
.vscode

# postgres
apps/postgres/18/docker/*
!apps/postgres/18/docker/postgresql.conf


# C build artifacts
*.out

# secrets
secrets/*