# I sure do love security!!!
**/*client_secret*.json
**/*credentials*.json
**/*token.json

# don't copy data over because that's just weird
data/*
# make sure the folder still exists though!
!data/empty

# ignore node packages
package-lock.json
package.json
node_modules

# ignore Astro content libraries
src/content
## include Astro content library config
!src/content/config.ts

# ignore python virtual environment & packages
.venv

# ignore VS code folder :P
.vscode

# ignore my quick notes
nextPush.txt

# ignore calendar items (these don't even work, IDK why they are ignored)
public/calendar
!public/calendar/empty

# ignore public folder files related to Astro content libraries
public/awards
public/cards
public/directives
public/projects
public/schedules

# ignore the webpage icon :)
public/favicon.svg

# build output
dist/

# generated types
.astro/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/


# ignore temporary installation files
TEMPORARY_CLONE_astro.config.mjs