/* Dark mode color palette (half of it is) from https://colorhunt.co/palette/0f0f0f232d3f005b41008170 */

:root {
    background: var(--color1);
    --color1: #13151a;
    --color2: #008170;
    --color3: #008170;
    --color4: #008170;
    --color5: #0e302e;
    --textcolor: white;
}

/* .link-card {
    /* hardcoded to Astro's default color :P * /
    background-color: #23262d;
} */