html {
    --globalfontfamilies: 'Quicksand', monospace;
    font-family: var(--globalfontfamilies);
}

@font-face {
    font-family: 'Quicksand';
    src: url('/fonts/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

/* Fixes weird behaviour with top bar being Arial */
input {
    font-family: var(--globalfontfamilies);
}

/* Fix the frustrating misalignment of the bullet points ;) */

.mainContent ul {
    margin-left: 20px;
}