services:
  wywywebsite_astro-app:
    container_name: wywywebsite_astro-dev-server
    restart: always
    working_dir: /apps/astro-app
    build:
      context: ../
      dockerfile: apps/astro-app/Dockerfile.dev
      target: runtime
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
    ports:
      - 4321:4321
    volumes:
      - ../apps/astro-app:/apps/astro-app
      - /apps/astro-app/node_modules
      - ${UNIVERSAL_CONFIG_DIR}/config.yml:/apps/astro-app/config.yml
    env_file:
      - path: ${UNIVERSAL_CONFIG_DIR}/.env
        required: true
      - path: ${UNIVERSAL_CONFIG_DIR}/website/.env
        required: true
      - path: ${UNIVERSAL_CONFIG_DIR}/website/.env.dev
        required: true
    develop:
      watch:
        - action: sync
          path: ${UNIVERSAL_CONFIG_DIR}/config.yml
          target: /apps/astro-app/config.yml
          initial_sync: true
    command: npm run dev -- --host

  wywywebsite_sql-receptionist:
    container_name: wywywebsite_sql-receptionist-dev-server
    tty: true
    # image: gcc:latest
    working_dir: /apps/sql-receptionist
    build:
      context: ../
      dockerfile: apps/sql-receptionist/Dockerfile.dev
      # target: builder
    env_file:
      - path: ${UNIVERSAL_CONFIG_DIR}/.env
        required: true
      - path: ${UNIVERSAL_CONFIG_DIR}/website/.env
        required: true
      - path: ${UNIVERSAL_CONFIG_DIR}/website/.env.dev
        required: true
    develop:
      watch:
        - action: sync+restart
          path: ./../apps/sql-receptionist
          target: ./apps/sql-receptionist
          initial_sync: true
        - action: sync+restart
          path: ${UNIVERSAL_CONFIG_DIR}/config.yml
          target: /config.yml
          initial_sync: true
    volumes:
      - ${UNIVERSAL_CONFIG_DIR}/config.yml:/config.yml
    secrets:
      - admin
    ports:
      - 2523:2523
    depends_on:
      wywywebsite_database:
        condition: service_healthy
    # compile and run the application.
    # Do not close the container on error.
    command: bash -c "make clean && make && exec ./app ; (echo 'The SQL Receptionist is now sleeping...' && sleep 3600)"

  wywywebsite_create_tables:
    container_name: wywywebsite_create_tables
    tty: true
    working_dir: /apps/create_tables
    build:
      context: ../
      dockerfile: apps/create_tables/Dockerfile
      args:
        CONFIG_PATH: ${UNIVERSAL_CONFIG_DIR}/config.yml
    env_file:
      - path: ${UNIVERSAL_CONFIG_DIR}/.env
        required: true
      - path: ${UNIVERSAL_CONFIG_DIR}/website/.env
        required: true
      - path: ${UNIVERSAL_CONFIG_DIR}/website/.env.dev
        required: true
    develop:
      watch:
        - action: sync+restart
          path: ${UNIVERSAL_CONFIG_DIR}/config.yml
          target: /apps/create_tables/config.yml
          initial_sync: true
        - action: sync+restart
          path: ./../apps/create_tables
          target: ./apps/create_tables
          initial_sync: true
    volumes:
      - ${UNIVERSAL_CONFIG_DIR}/config.yml:/apps/create_tables/config.yml
    depends_on:
      wywywebsite_database:
        condition: service_healthy
    command: python3 create_tables.py

  # @TODO secrets for db authentication
  wywywebsite_database:
    container_name: wywywebsite_postgres
    build:
      context: ../
      dockerfile: apps/postgres/Dockerfile
      target: db
    restart: always
    env_file:
      - path: ${UNIVERSAL_CONFIG_DIR}/.env
        required: true
      - path: ${UNIVERSAL_CONFIG_DIR}/website/.env
        required: true
      - path: ${UNIVERSAL_CONFIG_DIR}/website/.env.dev
        required: true
    environment:
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_USER: ${DATABASE_USERNAME}
      PGDATA: /var/lib/postgresql/data
    ports:
      - ${DATABASE_PORT}:${DATABASE_PORT}
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "${DATABASE_USERNAME}", "-p", "${DATABASE_PORT}" ]
      interval: 5m
      timeout: 5s
      start_period: 3s
      retries: 10
    volumes:
      - ${DATA_DIR}/website/postgres:/var/lib/postgresql/data
      - ${UNIVERSAL_CONFIG_DIR}/website/postgres/postgresql.conf:/etc/postgresql/postgresql.conf:ro
      - ${UNIVERSAL_CONFIG_DIR}/website/postgres/pg_hba.conf:/etc/postgresql/pg_hba.conf:ro
      # - ./../apps/postgres/backup.sh:/backup.sh
    shm_size: 128mb
    command: postgres -D /var/lib/postgresql/data -p ${DATABASE_PORT} -c config_file=/etc/postgresql/postgresql.conf

volumes:
  # postgres-db:
  astro-node_modules:


secrets:
  admin:
    file: ${SECRETS_DIR}/admin.txt
