services:
  wywywebsite_astro-app:
    container_name: wywywebsite_astro-dev-server
    restart: always
    working_dir: /apps/astro-app
    build:
      context: ../
      dockerfile: apps/astro-app/Dockerfile.dev
      target: runtime
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
    ports:
      - 4321:4321
    volumes:
      - ../apps/astro-app:/apps/astro-app
      - /apps/astro-app/node_modules
      # - astro-node_modules:/apps/astro-app/node_modules
    command: npm run dev -- --host

  wywywebsite_sql-receptionist:
    container_name: wywywebsite_sql-receptionist-dev-server
    tty: true
    # image: gcc:latest
    working_dir: /apps/sql-receptionist
    build:
      context: ../
      dockerfile: apps/sql-receptionist/Dockerfile.dev
      # target: builder
    env_file:
      - path: .env
        required: true
    environment:
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_USERNAME=${DB_USERNAME}
      - POSTGRES_PORT=${POSTGRES_PORT}
    develop:
      watch:
        - action: sync+restart
          path: ./../apps/sql-receptionist
          target: ./apps/sql-receptionist
          initial_sync: true
    secrets:
      - admin
    ports:
      - 2523:2523
    depends_on:
      wywywebsite_database:
        condition: service_healthy
    command: bash -c "make clean && make && ./app"
  
  wywywebsite_create_tables:
    container_name: wywywebsite_create_tables
    tty: true
    working_dir: /apps/create_tables
    build:
      context: ../
      dockerfile: apps/create_tables/Dockerfile
    env_file:
      - path: .env
        required: true
    environment:
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_USERNAME=${DB_USERNAME}
      - POSTGRES_PORT=${POSTGRES_PORT}
    depends_on:
      wywywebsite_database:
        condition: service_healthy
    command: python3 create_tables.py

  # @TODO secrets for db authentication
  wywywebsite_database:
    container_name: wywywebsite_postgres
    image: postgres
    working_dir: /apps/postgres
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USERNAME}
    ports:
      - ${POSTGRES_PORT}:${POSTGRES_PORT}
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "${DB_USERNAME}", "-p", "${POSTGRES_PORT}" ]
      interval: 5m
      timeout: 5s
      start_period: 3s
      retries: 10
    volumes:
      # - postgres-db:/var/lib/postgresql
      - ./../apps/postgres:/var/lib/postgresql
    shm_size: 128mb
    command: -p ${POSTGRES_PORT}

volumes:
  # postgres-db:
  astro-node_modules:

secrets:
  admin:
    file: ./../secrets/admin.txt