services:
  wywywebsite_sql-receptionist:
    container_name: wywywebsite_sql-receptionist
    tty: true
    # image: gcc:latest
    working_dir: /apps/sql-receptionist
    build:
      context: ../
      dockerfile: apps/sql-receptionist/Dockerfile
      # target: builder
    env_file:
      - path: .env
        required: true
    secrets:
      - admin
    networks:
      - wywywebsite_cloudflared
    ports:
      - 2523:2523
    depends_on:
      wywywebsite_database:
        condition: service_healthy
    command: ./app

  wywywebsite_create_tables:
    container_name: wywywebsite_create_tables
    tty: true
    working_dir: /apps/create_tables
    build:
      context: ../apps/create_tables
      dockerfile: Dockerfile
      args:
        CONFIG_PATH: ./../../config.yml
    env_file:
      - path: .env
        required: true
    depends_on:
      wywywebsite_database:
        condition: service_healthy
    command: python3 create_tables.py

  wywywebsite_cloudflared:
    working_dir: /apps/cloudflared
    build:
      context: ../
      dockerfile: apps/cloudflared/Dockerfile
    container_name: wywywebsite_cloudflared
    environment:
      TZ: America/Toronto
      TUNNEL_TOKEN_FILE: /run/secrets/wywywebsite-cloudflared-cloudflare
    entrypoint: /entrypoint.sh
    restart: unless-stopped
    secrets:
      - wywywebsite-cloudflared-cloudflare
    networks:
      - wywywebsite_cloudflared

  # @TODO secrets for db authentication
  wywywebsite_database:
    container_name: wywywebsite_postgres
    build:
      context: ../
      dockerfile: apps/postgres/Dockerfile
      target: db
    restart: always
    env_file:
      - path: .env
        required: true
    environment:
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_USER: ${DATABASE_USERNAME}
      PGDATA: /var/lib/postgresql/data
    ports:
      - ${DATABASE_PORT}:${DATABASE_PORT}
    healthcheck:
      test:
        [
          "CMD",
          "pg_isready",
          "-U",
          "${DATABASE_USERNAME}",
          "-p",
          "${DATABASE_PORT}",
        ]
      interval: 5m
      timeout: 5s
      start_period: 3s
      retries: 10
    volumes:
      - ./../apps/postgres/pgdata:/var/lib/postgresql/data
      - ./../apps/postgres/postgresql.conf:/etc/postgresql/postgresql.conf:ro
      - ./../apps/postgres/pg_hba.conf:/etc/postgresql/pg_hba.conf:ro
    shm_size: 128mb
    command: postgres -D /var/lib/postgresql/data -p ${DATABASE_PORT} -c config_file=/etc/postgresql/postgresql.conf

networks:
  wywywebsite_cloudflared:
    name: wywywebsite_cloudflared

secrets:
  wywywebsite-cloudflared-cloudflare:
    file: ./../secrets/cloudflared-cloudflare-token.txt
  admin:
    file: ./../secrets/admin.txt
