---
export const prerender = true;
import Layout from '@/layouts/Layout.astro';
import Card from '@/components/Card.astro';
import config from '@root/config/config.yml';
const blogDir = "/blog/"
---

<Layout title="Eric's Blog!" css_color_palette="light_mode">
	<main>
        <ul role="list" class="link-card-grid">
            {config["websiteData"]["blog"]["homepage"]["pinned"].map((pin: string) => {
                return <Card href={blogDir + pin} title={pin} body={pin}/>
            })}
		</ul>
	</main>
</Layout>