---
export const prerender = true;
// import Layout from "@/layouts/Layout.astro";
import Layout from "@/layouts/base/LayoutFallingBgWywy.astro";
import Card from "@/components/Card.astro";
---

<Layout css_color_palette="dark_mode">
	<main>
		<ul role="list" class="link-card-grid">
			<Card
				href="awards"
				title="â­ Awards & Accomplishments!"
				body="These are my awards, recognitions, and accomplishments!"
			/>
			<Card
				href="projects"
				title="ðŸš€ Projects"
				body="These are my very very cool projects!!!"
			/>
			<!-- and resumes are to be graphed over time :P -->
			<Card
				href="resumes"
				title="ðŸ“ Resumes"
				body="Read my resume, and how it evolved over time."
			/>
			<Card href="Senarios" title="ðŸŽ¨ Senarios" body="Wywy's home â¤ï¸" />
			<Card
				href="personal"
				title="ðŸ“ Personal Blog & Journal"
				body="Here's my personal documentation, starting from 2022!"
			/>
			<Card
				href="blog"
				title="ðŸ“ Blog"
				body="Check out my Blog! There's lots of stuff, from video game tactics to math tips & tricks!"
			/>

			<!-- iFrame source code at: https://github.com/gamer2810/steam-miniprofile/tree/master/.github -->
			<Card
				href="https://steamcommunity.com/id/lfwywy/"
				title="Steam">
				<iframe title="Eric's Steam Card" src="https://gamer2810.github.io/steam-miniprofile/?accountId=76561199253373811" style="border:0px #ffffff none;" name="myiFrame" scrolling="no" frameborder="1" marginheight="0px" marginwidth="0px" height="200px" max-width="400px" allowfullscreen></iframe>
			</Card>
		</ul>
	</main>
</Layout>
