---
import Layout from '@/layouts/Layout.astro';
import Card from '@/components/Card.astro';
---

<Layout title="EZ & Wywy's Website" css_color_palette="dark_mode">
	<main>
		
		<ul role="list" class="link-card-grid">
			<Card
				href="awards"
				title="â­ Awards & Accomplishments!"
				body="These are my awards, recognitions, and accomplishments!"
			/>
			<Card
				href="projects"
				title="ðŸš€ Projects"
				body="These are my very very cool projects!!!"
			/>
			<!-- and resumes are to be graphed over time :P -->
			<Card
				href="resumes"
				title="ðŸ“ Resumes"
				body="Read my resume, and how it evolved over time."
			/>
			<Card
				href="Senarios"
				title="ðŸŽ¨ Senarios"
				body="Wywy's home â¤ï¸"
			/>
			<Card
				href="personal"
				title="ðŸ“ Personal Blog & Journal"
				body="Here's my personal documentation, starting from 2022!"
			/>
			<Card
				href="blog"
				title="ðŸ“ Blog"
				body="Check out my Blog! There's lots of stuff, from video game tactics to math tips & tricks!"
			/>
		</ul>
	</main>
</Layout>