---
import Layout from '@/layouts/Layout.astro';
import Card from '@/components/Card.astro';
---

<Layout title="Personal Stuff!" css_color_palette="light_mode">
	<main>
        <ul role="list" class="link-card-grid">
			<Card
				href="/personal/schedule"
				title="📆 Schedule"
				body="If you're ever curious when I'm (usually) free, this is the place to start!"
			/>
			<!-- <Card
				href="/personal/personal_Calendar"
				title="📆 Calendar"
				body="This calendar contains some of the big events that are about to happen!"
			/> -->
			<Card
				href="/personal/Data"
				title="📈 Data"
				body="Read my personal data! Some data is censored for privacy reasons, but you'll get to see a lot of cool stuff!"
			/>
			<Card
				href="/personal/directives"
				title="Directives"
				body="Here are the directives I gave myself over time! You can see how my strategy and state of mind evolve over time."
			/>
		</ul>
	</main>
</Layout>