---
import Layout from '@/layouts/Layout.astro';
import Card from '@/components/Card.astro';
---

<Layout title="EZ's Projects" css_color_palette="dark_mode">
	<main>
		
		<ul role="list" class="link-card-grid">
			<Card
				href="/projects/rpsruntime"
				title="âœ‚ï¸ RPS Runtime (Website)"
				body="This website is for gathering a TON of RPS runtime data!"
			/>
			<Card
				href="https://github.com/WywySenarios"
				title="Upcoming Content... ðŸš§"
				body="This block of STUFF!!! has not been implemented yet! :( Very sad indeed."
			/>
		</ul>
	</main>
</Layout>