---
import Layout from "@/layouts/Layout.astro";
import Card from "@/components/Card.astro";

const resumeDirectory = import.meta.glob("/public/resumes/*.pdf");
// console.log(resumeDirectory);
let resumeFiles = [];
for (const i in resumeDirectory) {
    resumeFiles.push(i.substring("/public/resumes/".length));
}

resumeFiles = resumeFiles.map((file: any) => ({
            href: `/resumes/${file}`,
            title: file.substring(0, file.length - 4), // Remove file extension
            body: ""
        }));
---

<Layout title="Eric's Resumes" css_color_palette="light_mode">
    <main>
        <ul id="main" role="list" class="link-card-grid">
            {resumeFiles.map((resume: any) => (
                <Card href={resume.href} title={resume.title} body={resume.body} />
            ))}
            <!-- <Card
                href="https://github.com/WywySenarios/Wywy-Website"
                title="Upcoming Content... 🚧"
                body="This block of STUFF!!! has not been implemented yet! :( Very sad indeed."
            /> -->
        </ul>
    </main>
</Layout>