---
import Layout from "@/layouts/Layout.astro";
import ScheduleTable from "@/components/ScheduleTable.astro";
import config from "@root/config.json";

const schedules = await Astro.glob("@public/schedules/*.json");

let timeslots = [
  {
    time: "8:00AM - 9:00AM",
    monday: "",
    tuesday: "",
    wednesday: "",
    thursday: "",
    friday: "",
    saturday: "",
    sunday: "",
  },
  {
    time: "9:00AM - 10:00AM",
    monday: "",
    tuesday: "",
    wednesday: "",
    thursday: "",
    friday: "",
    saturday: "",
    sunday: "",
  },
  {
    time: "10:00AM - 11:00AM",
    monday: "",
    tuesday: "",
    wednesday: "",
    thursday: "",
    friday: "",
    saturday: "",
    sunday: "",
  },
  {
    time: "11:00AM - 12:00PM",
    monday: "",
    tuesday: "",
    wednesday: "",
    thursday: "",
    friday: "",
    saturday: "",
    sunday: "",
  },
  {
    time: "12:00PM - 1:00PM",
    monday: "",
    tuesday: "",
    wednesday: "",
    thursday: "",
    friday: "",
    saturday: "",
    sunday: "",
  },
  {
    time: "1:00PM - 2:00PM",
    monday: "",
    tuesday: "",
    wednesday: "",
    thursday: "",
    friday: "",
    saturday: "",
    sunday: "",
  },
  {
    time: "2:00PM - 3:00PM",
    monday: "",
    tuesday: "",
    wednesday: "",
    thursday: "",
    friday: "",
    saturday: "",
    sunday: "",
  },
  {
    time: "3:00PM - 4:00PM",
    monday: "",
    tuesday: "",
    wednesday: "",
    thursday: "",
    friday: "",
    saturday: "",
    sunday: "",
  },
  {
    time: "4:00PM - 5:00PM",
    monday: "",
    tuesday: "",
    wednesday: "",
    thursday: "",
    friday: "",
    saturday: "",
    sunday: "",
  },
  {
    time: "5:00PM - 6:00PM",
    monday: "",
    tuesday: "",
    wednesday: "",
    thursday: "",
    friday: "",
    saturday: "",
    sunday: "",
  },
  {
    time: "7:00PM - 8:00PM",
    monday: "",
    tuesday: "",
    wednesday: "",
    thursday: "",
    friday: "",
    saturday: "",
    sunday: "",
  },
  {
    time: "8:00PM - 9:00PM",
    monday: "",
    tuesday: "",
    wednesday: "",
    thursday: "",
    friday: "",
    saturday: "",
    sunday: "",
  },
];
for (const i of schedules) {
  if (i["name"] === config["schedule"]["current_schedule"]) {
    timeslots = i["content"];
  }
}
---

<Layout title="Eric's Schedule" css_color_palette="light_mode">
  <main>
    <ScheduleTable timeslots={timeslots} />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    /* padding: 1rem; */
    /* width: 800px; */
    /* max-width: calc(100% - 2rem); */
    font-size: 20px;
    /* line-height: 1.6; */
  }
</style>
