---
import Layout from "../../layouts/Layout.astro";
---

<Layout
    title="RPS Runtime"
    path="../"
    css_color_palette="sunset"
    iconPath="RPSRuntime/assets/rock-paper-scissors.png"
>
    <input
        slot="top-bar-button2"
        type="button"
        onclick="location.href='rpsruntime/visualization';"
        value="Results"
    />
    <input
        slot="top-bar-button3"
        type="button"
        onclick="location.href='rpsruntime/run';"
        value="Play"
    />

    <main>
        <h1>Rock Paper Scissors</h1>
        <p>
            <a href="https://en.wikipedia.org/wiki/Rock_paper_scissors"
                >Rock Paper Scissors (RPS)</a
            > is a game commonly implemented in computer science class to show how
            "if" statement logic works. The game is simple: Rock beats scissors,
            scissors beats paper, and paper beats rock.
        </p>
        &nbsp;
        <p>
            Contrary to popular belief, Rock Paper Scissors does not need to be
            implemented with 3 "if" statements. The program can be implemented
            with two "if" statements or even no "if" statements!
        </p>
        &nbsp;
        <p>
            I'm on a quest to see exactly which Rock Paper Scissors algorithm is
            the "best", and this experiment aims to control for hardware and
            operating system differences!
        </p>

        <a
            style="margin: auto;"
            title="Original:  EnzoklopEdit:  OmegaFallon
Translations: 

Asturian: YoaRCentral Kurdish: AramCzech: PodzemnikGerman: Enzoklop  and AntonsusiSpanish: OrgullomooreFrench: JBHungarian: BencokeItalian: Number55Japanese: NesnadLatvian: TuraidsNorwegian: Enzoklop  and AntonsusiPolish: MesserWoland  and MareklugRomanian: MonicaAbrudanRussian: Orange-kunSwedish: Enzoklop  and AntonsusiUkrainian: Володимир ФSimplified Chinese: Taiwania JustoTraditional Chinese: Taiwania Justo, CC BY-SA 3.0 <https://creativecommons.org/licenses/by-sa/3.0>, via Wikimedia Commons"
            href="https://commons.wikimedia.org/wiki/File:Rock-paper-scissors.svg"
            ><img
                width="256"
                alt='A chart showing how the three game elements of "Rock-Paper-Scissors" interact.'
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Rock-paper-scissors.svg/256px-Rock-paper-scissors.svg.png?20240113232410"
            /></a
        >
    </main>

    <div class="footerColumn" slot="attributions">
        Attributions:

        <a
            href="https://www.flaticon.com/free-icons/rock-paper-scissors"
            title="rock paper scissors icons"
            >Rock paper scissors icons created by Freepik - Flaticon</a
        >
        <a
            href="https://commons.wikimedia.org/wiki/File:Rock-paper-scissors.svg"
            title="rock paper scissors icons"
            >Rock paper scissors diagram created by Enzoklop</a
        >
    </div>
</Layout>

<style>
    main {
        margin: auto;
        font-size: 12px;
        line-height: 1.6;
        text-align: center;
    }
    h1 {
        font-size: 24px;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin-bottom: 1em;
    }
    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }
    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 2rem;
        padding: 0;
    }
</style>
